@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --almost-black: 0, 0%, 8%;
    --light-green: 154, 71%, 59%;
    --dark-gray: 0, 0%, 14%;
    --light-gray: 0, 0%, 85%;

    /* Shadcn variables -> */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    /* --background: 222.2 84% 4.9%; */
    --background: var(--almost-black);
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    /* --popover: 222.2 84% 4.9%; */
    --popover: var(--almost-black);
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    /* --border: 217.2 32.6% 17.5%; */
    --border: var(--light-green);
    /* --input: 217.2 32.6% 17.5%; */
    --input: var(--light-green);

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  .responsive-heading-xl {
    @apply text-heading-ml md:text-heading-l lg:text-heading-xl;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* copied from https://codepen.io/alvarotrigo/pen/PoKMyNO -> */
.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    hsl(var(--light-gray)) 0%,
    hsl(var(--light-green)) 29%,
    hsl(var(--muted-foreground)) 67%,
    hsl(var(--accent)) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* <- copied from https://codepen.io/alvarotrigo/pen/PoKMyNO  */
